@charset "UTF-8";

/* 共通部分 */

html{
    font-size: 100%;
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
    color: black;
}
img {
    max-width: 100%;
}

/* 全体Wrapper */
.wrapper {
    margin: 0 auto;
    padding: 0 4%;
}

/* ヘッダー */
#page_header {
    height: 70px;
    display: flex;
    justify-content: space-between;
}
#page_header h1 {
    font-size: 30px;
}

#page_header a:hover {
    color: gray;
}
２

#page_header h1 {
    line-height: 70px;
}

.top_nav {
    list-style: none;
    display: flex;


}


.top_nav li {
    margin: 20px;
}


/* メイン */

/* トップページ */

.bg_img {
    background-image: url(../images/top_bg.jpeg);
    /* background-size: cover; */
    width: 100%;
    text-align: center;
    min-height: 75vh;
    position: relative;

}

.top_layout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 新規登録ページ */
.signup_layout {
    height: 500px;
}
.signup_form a:hover {
    color: gray;
}




/* ログインページ */







/* フッター */
footer {
    width: 100%;
    height: 60px;
    text-align: center;
}

small {
    line-height: 60px;
}
