@charset "UTF-8";

/* 共通部分 */

html{
    font-size: 100%;
}
body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
    
    
    &:hover {
        color: blue;
    }
}

.btn {
    background-color: white;
    color: black;
    font-size: 20px;
    margin-left: 60px;

    &:hover {
        background-color: black;
        color: white;
    }
}

table {
    width: 100%;
}


.error {
    color: red;
}

// ページネーション
#page {
    text-align: center;
    margin: 20px 0;
    a {
        text-decoration: underline;
        margin: 0 20px;
    }
}



/* 全体Wrapper */
.wrapper {
    margin: 0 auto;
    padding: 0 4%;
}

/* ヘッダー */
#page_header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    h1 {
        text-decoration: none;
        font-size: 30px;
        line-height: 35px;
    }
    a {
        text-decoration: none;
    }
    
    a:hover {
        color: gray;
    }
    
}

/* ヘッダー　ナビメニュー */

.top_nav {
    list-style: none;
    display: flex;
    
    
    li {
        margin: 10px;
    }
}


/* メイン */

/* 共通項目 */
/* 登録ボタン・書き直しボタン */
/* form {
    display: inline-block;
    margin-right: 0px;
}

form {

    display: inline-block;
}

form .regist {
    margin-left: 140px;
}
form .rewrite {
    margin-left: 70px;
    margin-right: -100px;
} */


// ページタイトル
.page_title {
    margin-left: 80px;
}


/* トップページ */

.bg_img {
    background-image: url(../images/top_bg.jpeg);
    /* background-size: cover; */
    width: 100%;
    text-align: center;
    min-height: 75vh;
    position: relative;

}

.top_layout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 新規登録ページ */
.signup_layout {
    height: 500px;
}





/* ログインページ */





















/* マイページ トップ */


.mypage_layout {
    display: flex;
}

.mypage_logout .mypage_nav ul {
    list-style: none;
    display: flex;
}

.mypage_nav li {
    margin: 0 30px;
}


.aside {

    width: 22%;

    text-align: center;
}

.percent {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.amount {
    border: 3px solid black;
}

.main {
    width: 76%;
    height: auto;
    margin: 0 20px;

}



/* マイリスト */
.mylist_layout .main {
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.mylist_layout table {
    margin-left: auto;
    margin-right: auto;
}







/* 表の表示設定 */
.service_list_index {
    border-collapse: collapse;
    
    td {
        border: 1px solid black ;
        text-align: center;
        /* font-weight: bold; */
    }
}


/* 入力関係 */
.input {
    th {
        text-align: right;
    }

    tr {
        height: 40px;
    }
    
}

// お問い合わせ画面
.contact_change {
    display: inline-block;
    font-size: 16px;


}


/* フッター */
footer {
    width: 100%;
    height: 60px;
    text-align: center;
}

small {
    line-height: 60px;
}
